@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}



.nav-bar{
  background-image: linear-gradient(rgb(173, 173, 173), white);
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  margin-bottom: 50px;
}

.nav-buttons a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 500;
  padding: 20px;
}
a:hover{
  color: rgb(165, 29, 165);
}
.movies{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  column-gap: 1rem;
  row-gap: 2rem;
  align-items: center;
  margin: 0 70px;
}
.movie{
}
img{
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
}

.movie-description{
  position: absolute;
  top: 0;
  visibility: hidden;
}
.img-info:hover{
  visibility: visible;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
  filter: brightness(0.7);
}
.movie-title{
  text-align: center;
  min-height: 30px;
}

h2{
  font-size: 0.8rem;
}

.img-info{
  position: relative;
}
.note{
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
}
.note span{
  font-size: 2rem;
}
.green_note{
  color: green;
}
.red_note{
  color: red;
}